<head th:fragment="header">
	<link href="https://fonts.googleapis.com/css?family=Montserrat+Alternates:300" rel="stylesheet" type="text/css"/>
    <link th:href="@{css/headerLayout.css}" rel="stylesheet" />
</head>
<header class="page-head">
		<h1><a href="home">WUSIC</a></h1>
		<div class="dropdown">
			<button class="dropbtn">Browse</button>
			<div class="dropdown-content">
				<form method="get" action="google.com" >
		    		<button class="link" name="browseBy" value="title">By Title</button>
		    		<input type="hidden" name="orderType" value="DESC"></input>
				</form>
			</div>
		</div>

			<form class="searchBar" method="get" action="">
				<input type="hidden" name="browseBy" value="advSearch"></input>
				<input type="text" name="advTitle" placeholder="Search by artist or genre..."></input>
			</form>


			<div class = "advSearch">
				<a href = "advSearch">Advanced Search</a>
			</div>

			<div sec:authorize="isAnonymous()">
				<div class="login">
					<a href="login">Login</a>
				</div>
			</div>


			<div sec:authorize="isAuthenticated()">
        		<form class="login" th:action="@{/logout}" method="post">
            		<input class="logout" type="submit" value="Logout"/>
        		</form>
			</div>

</header>
