<head th:fragment="sidebar">
    <link href="https://fonts.googleapis.com/css?family=Titillium+Web" rel="stylesheet" type="text/css"/>
    <link th:href="@{css/sidebarLayout.css}" rel="stylesheet"/>
</head>
<div class="sidebar" th:fragment="sidebar">
    <div sec:authorize="isAuthenticated()"> 
    <h3	th:text="'Logged in as ' + ${#authentication.getPrincipal().getUsername()}">Browse</h3>
    </div>

    <ul class="categories">
        <div class="buttonContainer">
            <a  th:href="@{/all_genres}">Browse</a>
        	<div class="playlistButton">
        	            <a th:href="@{/playlists}">Playlists</a>
        	</div>
        	        	<div class="usersButton">
            <a th:href="@{/users}">Users</a>
                 	</div>
        </div>
    </ul>
</div>
