<head th:fragment="sidebar">
    <link href="https://fonts.googleapis.com/css?family=Titillium+Web" rel="stylesheet" type="text/css"/>
    <link th:href="@{css/sidebarLayout.css}" rel="stylesheet"/>
</head>
<div class="sidebar" th:fragment="sidebar">
    <h3>Browse</h3>
    <ul class="categories">
        <div class="buttonContainer">
            <a href="/playlists">Browse Playlists</a>
            <a href="">Placeholder</a>
            <a href="">Placeholder</a>
            <a href="">Placeholder</a>
            <a href="">Placeholder</a>
            <a href="">Placeholder</a>
        </div>
    </ul>
</div>
