.content {
    font-family: 'Titillium Web', sans-serif;
    color: #000;
    margin-top: 80px;
}

.content h1 {
    font-family: 'Titillium Web', sans-serif;
    color: #000;
}

.content h3 {
    font-family: 'Titillium Web', sans-serif;
    color: #000;
}

.content .songList {
    height: 450px;
    width: 70%;
    background-color: powderblue;
    overflow-y: scroll;
    padding: 15px;
}

.content .artistList {
    height: 450px;
    width: 70%;
    background-color: powderblue;
    overflow-y: scroll;
    padding: 15px;
}