<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Wusic | User Info</title>
    <link href="https://fonts.googleapis.com/css?family=Titillium+Web" rel="stylesheet" type="text/css"/>
    <link th:href="@{css/pageLayout.css}" rel="stylesheet"/>
</head>
<body>
<div lang="en" th:replace="fragments/header :: header"></div>
<div lang="en" th:replace="fragments/sidebar :: sidebar"></div>
<div class="content">
    <h1 th:text="'User page for ' + ${user_name}"></h1>
    <h3 th:text="${user_email}"></h3>

    <hr></hr>
    <h2>Playlists</h2>
    <table>
        <thead>
        <tr>
            <th>Name</th>
            <th>Song count</th>
        </tr>
        </thead>

        <tbody>
        <tr th:each="playlist : ${playlists}">
            <td><a th:text="${playlist.name}" th:href="@{'/playlist?id=' + ${playlist.id}}">a</a></td>
            <td th:text="${playlist.songCount}"></td>
        </tr>
        </tbody>
    </table>

    <hr></hr>
    <h2 th:text="${user_name} + '\'s Followers'"></h2>
    <table>
        <thead>
        <tr>
            <th>Username</th>
            <th>Email</th>
        </tr>
        </thead>

        <tbody>
        <tr th:each="follower : ${followers}">
            <td><a th:text="${follower.name}" th:href="@{'/user?username=' + ${follower.username}}">a</a></td>
            <td th:text="${follower.username}"></td>
        </tr>
        </tbody>

    </table>

    <hr></hr>
    <h2 th:text="${user_name} + ' is Following'"></h2>
    <table>
        <thead>
        <tr>
            <th>Username</th>
            <th>Email</th>
        </tr>
        </thead>

        <tbody>
        <tr th:each="following : ${followings}">
            <td><a th:text="${following.name}" th:href="@{'/user?username=' + ${following.username}}">a</a></td>
            <td th:text="${following.username}"></td>
        </tr>
        </tbody>

    </table>

    <hr></hr>
    <h2 th:text="${user_name} + '\'s Liked Songs'"></h2>
    <table>
        <thead>
        <tr>
            <th>Title</th>
            <th>Year</th>
        </tr>
        </thead>

        <tbody>
        <tr th:each="liked_song : ${liked_songs}">
            <td th:text="${liked_song.title}"></td>
            <td th:text="${liked_song.year}"></td>
        </tr>
        </tbody>

    </table>

</div>
</body>
</html>