<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Wusic | Song Info</title>
	<link href="https://fonts.googleapis.com/css?family=Titillium+Web" rel="stylesheet" type="text/css"/>
	<link th:href="@{css/pageLayout.css}" rel="stylesheet"/>
</head>
<body>
	<div lang="en" th:replace="fragments/header :: header"> </div>
	<div lang="en" th:replace="fragments/sidebar :: sidebar"> </div>
	
	<div class="content">
		<h1 th:text="'Song: ' + ${name} + ' Year:' + ${year}"> </h1>
    	<h1 th:text="'Artist:' + ${artist_name}" ></h1>
	</div>

</body>
</html>