<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:form="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Wusic | Songs by Artist</title>
    <link rel="icon" type="image/ico" href="images/favicon.ico"/>
    <link href="https://fonts.googleapis.com/css?family=Titillium+Web" rel="stylesheet" type="text/css"/>
    <link th:href="@{css/pageLayout.css}" rel="stylesheet"/>
</head>
<body>
<div lang="en" th:replace="fragments/header :: header"></div>
<div lang="en" th:replace="fragments/sidebar :: sidebar"></div>

<div class="content">
    <h1 th:text="'Songs by ' + ${artist_name}"></h1>

    <table>

        <thead>
        <tr>
            <th>Title</th>
            <th>Album</th>
            <th>Year</th>
            <th>&#128336;</th>
        </tr>
        </thead>
		<tbody>
        <tr th:each="index : ${#numbers.sequence( 0, #arrays.length(songs)-1)}">
            <td th:text="${songs[index].title}">dsf</td>
            <td><a th:text="${albums[index]}" th:href="@{'/get_album_songs?name=' + ${albums[index]}}">a</a></td>
            <td th:text="${songs[index].year}"></td>
            <td th:text="${songs[index].durationMins + ':' + songs[index].durationSecs}"></td>
            <td>
                <form action="add_song_to_playlist" method="get">
                    <input type="hidden" name="song_id" th:value="${songs[index].id}"/>
                    <div class="select-style">
                        <select name="playlist_id">
	                        <option label="Select a Playlist &#9660;"></option>
	                        <div th:each="playlist : ${playlist_options}">
	                            <option th:value="${playlist.id}" th:text="${playlist.name}"></option>
	                        </div>
	                        <option label="+ Create New Playlist"></option>
                    	</select>
                    </div>
                    <td><Button class="addToPlaylist" type="submit">&#43;</Button></td>
                </form>
            </td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>