<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link href="https://fonts.googleapis.com/css?family=Amatic+SC|Cinzel" rel="stylesheet" type="text/css"/>
    <title>Songs by Artist</title>
    <link th:href="@{css/headerLayout.css}" rel="stylesheet" />
	<style>
		.content {
			margin-top: 80px;
		}
		.content .artistList {
			height: 450px;
			width: 70%;
			background-color: powderblue;
			overflow-y: scroll;
			padding: 15px;
		}
	</style>
</head>
<body>
	<div lang="en" th:replace="fragments/header :: header"> </div>

	<div class="content">
		<h1 th:text="'Artists in ' + ${genreName} + ' genre'"></h1>
		<div class="artistList">
			<table>
			    <thead>
			    <tr>
			        <th>Name</th>
			    </tr>
			    </thead>
			
			    <tbody>
			    <tr th:each="artist : ${artists}">
			        <td th:text="${artist.name}"></td>
			    </tr>
			    </tbody>
			</table>
		</div>
	</div>
</body>
</html>