<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Wusic | Songs in Album</title>
    <link href="https://fonts.googleapis.com/css?family=Titillium+Web" rel="stylesheet" type="text/css"/>
    <link th:href="@{css/pageLayout.css}" rel="stylesheet"/>
</head>
<body>
<div lang="en" th:replace="fragments/header :: header"></div>
<div lang="en" th:replace="fragments/sidebar :: sidebar"></div>

<div class="content">
    <h1 th:text="'Songs in Album: ' + ${album_name}"></h1>
    <table>

        <thead>
        <tr>
            <th>Title</th>
            <th>Year</th>
            <th>Duration</th>
        </tr>
        </thead>

        <tbody>
        <tr th:each="song : ${songs}">
            <td th:text="${song.title}"></td>
            <td th:text="${song.year}"></td>
            <td th:text="${song.duration}"></td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>
