<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head >
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link href="https://fonts.googleapis.com/css?family=Amatic+SC|Cinzel" rel="stylesheet" type="text/css"/>
    <title>Artist</title>
    <link th:href="@{css/headerLayout.css}" rel="stylesheet" />
        <link th:href="@{css/sidebarLayout.css}" rel="stylesheet" />
	<style>
		.content {
			margin-top: 80px;
		}
		.gad {
			color: blue;
		}
	</style>
</head>
<body>
<div lang="en" th:replace="fragments/header :: header"> </div>
<div lang="en" th:replace="fragments/sidebar :: sidebar"> </div>
<div class="content">
	<h1 class="gad" th:text="'Artist: ' + ${artist.name}"> </h1>
</div>

</body>
</html>