<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Wusic | Playlist Modified</title>
    <link href="https://fonts.googleapis.com/css?family=Titillium+Web" rel="stylesheet" type="text/css"/>
    <link th:href="@{css/pageLayout.css}" rel="stylesheet"/>
</head>
<body>
<div lang="en" th:replace="fragments/header :: header"></div>
<div lang="en" th:replace="fragments/sidebar :: sidebar"></div>
<div class="content">
    <h3 th:text="${message}"></h3>

    <button onclick="goBack()">Go Back</button>

    <script>
			function goBack() {
    			window.history.back();
            }
    </script>

</div>
</body>
</html>